.loginForm {
  position: relative;
  width: 330px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.errorMessage {
  position: absolute;
  bottom: -60px;
  width: 310px;
  border-radius: 10px;
  font-size: 18px;
  font-family: Ubuntu, sans-serif;
  padding: 10px;
  color: #fff;
  background: #151d3b;
}
